{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}登录{% endblock title %}

<!--flash消息-->
{% block flash %}
    <div class="container">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block content %}
    {% block page_content %}
    <div class="row" style="margin-top: 50px;">
        <div class="col-md-4 col-md-offset-4">
            <h2 class="form-signin-heading">please sigin in</h2>
            {{ wtf.quick_form(form) }}
            <p>
                <a href='{{ url_for('auth.register') }}'>
                    注册
                </a>

                <a href='{{ url_for('auth.password_reset_request') }}'>
                    忘记密码？
                </a>
            </p>
        </div>
    </div>
    {% endblock %}
{% endblock %}