{% extends "bootstrap/base.html" %}

<!--头部信息块-->
{%- block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/dashboard.css')}}" rel="stylesheet">
    <!--标题块-->
    <title>{% block title %}{% endblock title %}</title>
{%- endblock head %}

<!--导航块-->
{% block navbar %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                  aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('main.index') }}">交付管理系统</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            {% if current_user.is_authenticated() %}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle"
                     data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                      {{ current_user.username }} <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="{{ url_for('auth.change_password') }}">修改密码</a></li>
                    <li><a href="{{ url_for('auth.change_password') }}">修改邮箱</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{{ url_for('main.user', username=current_user.username)}}">个人主页</a></li>
                  </ul>
                </li>
                <li><a href="{{ url_for('auth.logout') }}">退出</a></li>
            {% else %}
                <li><a href="{{ url_for('auth.login') }}">登录</a></li>
            {% endif %}

          </ul>
        </div>

      </div>
    </nav>
{% endblock  %}
<!--flash消息-->
{% block flash %}
    <div class="container">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endblock %}

<!--内容块-->
{% block content %}
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default  nav nav-sidebar">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a href="{{ url_for('main.index') }}">
                                仪表盘
                            </a>
                        </h4>
                    </div>
                </div>
                <div class="panel panel-default nav nav-sidebar">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                               href="#collapseOne"
                               aria-expanded="false" aria-controls="collapseOne">
                                主机管理
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel"
                         aria-labelledby="headingOne">
                        <div class="list-group">
                            <a class="list-group-item" href="{{ url_for('main.hosts')}}">主机列表</a>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default nav nav-sidebar">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
                               aria-expanded="false" aria-controls="collapseTwo">
                                项目管理
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                         aria-labelledby="headingTwo">
                        <div class="list-group">
                            <a class="list-group-item" href="{{ url_for('main.projects') }}">项目列表</a>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default nav nav-sidebar">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"
                               aria-expanded="false" aria-controls="collapseOne">
                                用户管理
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse " role="tabpanel"
                         aria-labelledby="headingThree">
                        <div class="list-group">
                            <a class="list-group-item" href="{{ url_for('main.users') }}">用户列表</a>
                            <a class="list-group-item" href="#">用户组</a>
                            <a class="list-group-item" href="#">登录日志</a>
                        </div>
                    </div>
                </div>

                <!--div class="panel panel-default nav nav-sidebar">
                    <div class="panel-heading" role="tab" id="headingFour">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour"
                               aria-expanded="false" aria-controls="collapseFour">
                                常用工具
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse " role="tabpanel"
                         aria-labelledby="headingFour">
                        <div class="list-group">
                            <a class="list-group-item" href="#">图片转base64</a>
                            <a class="list-group-item" href="#">base64转图片</a>
                            <a class="list-group-item" href="#">人脸比对</a>
                        </div>
                    </div>
                </div-->
            </div>
        </div>
    </div>
    <!--具体信息块-->
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        {% block page_content %}{% endblock %}
    </div>
{% endblock %}

<!--javascript块-->
{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
{%- endblock scripts %}